/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  width: auto;
  background-color: #c1d5f4;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #035d67 
  
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0979ea; 
}

.custom-scrollbar {
  scrollbar-width: thin;
  
}

