@import "tailwindcss";

body {
  font-family:'Fira sans';
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@theme {
  --base-color : #2ef2ef;
  --dark-color : #035d67;
  
}   
/* KINTU KAAJ KORCHE OK */

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.glow-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px; /* border thickness */
  background: linear-gradient(270deg, #00ff99, #00ccff, #ff0099, #00ff99);
  background-size: 600% 600%;
  animation: borderGlow 3s linear infinite;

  /* Mask for transparency inside */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




